body {
    margin: 0;
    font-family: cursive;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    background-color:  #1c4966;
}

.form {
    background-color: aliceblue;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    border-radius: 10px;
    margin: 10px;
}

.input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    border: solid 4px #296d98;
    color: #296d98;
    outline: none;
}
.input::placeholder {
    color: lightgrey;
    font-family: sans-serif;
}
.btn {
    background-color: #296d98;
    color: aliceblue;
    border: none;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-family: sans-serif;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.btn:hover {
    filter: brightness(0.9);
}

.score {
    color: #1c4966;
}